<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cool.todayheadline"
          android:versionCode="4"
          android:versionName="3.0"
    android:installLocation="preferExternal"
    >

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.NewsDetailActivity" />
        <activity android:name=".activities.PreferenceActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.NewsCollectorActivity" />
        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service
            android:name=".services.NewsNotificationService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>